/* Main styles for ali.io */
/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Shared variables/mixins between sass files */
/* Ligature Symbols
   http://kudakurage.com/ligature_symbols/ */
@font-face {
  font-family: 'LigatureSymbols';
  src: url("../fonts/LigatureSymbols/LigatureSymbols-2.09.eot");
  src: url("../fonts/LigatureSymbols/LigatureSymbols-2.09.eot?#iefix") format("embedded-opentype"), url("../fonts/LigatureSymbols/LigatureSymbols-2.09.woff") format("woff"), url("../fonts/LigatureSymbols/LigatureSymbols-2.09.ttf") format("truetype"), url("../fonts/LigatureSymbols/LigatureSymbols-2.09.svg#LigatureSymbols") format("svg");
  src: url("../fonts/LigatureSymbols/LigatureSymbols-2.09.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 6, ../sass/screen.scss */
body {
  background: #161616;
  color: #d8d8c2;
  font: 150%/1.5 proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 12, ../sass/screen.scss */
header h1 {
  color: #FFF;
  font-size: 2em;
  margin: 0.5em 0;
  text-transform: lowercase;
}

/* line 19, ../sass/screen.scss */
img, p {
  margin-bottom: 1em;
}

/* line 23, ../sass/screen.scss */
a {
  color: #84c2ff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
/* line 32, ../sass/screen.scss */
a:hover {
  color: #389cff;
}

/* line 37, ../sass/screen.scss */
#photo {
  width: 100%;
  border: 1px solid #2f2f2f;
  padding: 2px;
}

/* line 43, ../sass/screen.scss */
header, footer {
  text-align: center;
}

/* line 47, ../sass/screen.scss */
#container {
  width: 600px;
  margin: 0 auto;
}

/* line 52, ../sass/screen.scss */
#about {
  width: 65%;
  float: left;
}

/* line 57, ../sass/screen.scss */
#elsewhere {
  float: right;
}
/* line 32, ../sass/_ligature_symbols.scss */
#elsewhere li a:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 63, ../sass/screen.scss */
footer {
  display: none;
}

/* Shared variables/mixins between sass files */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* line 7, ../sass/_mobile.scss */
  body {
    font-size: 1em;
    padding: 0 0.5em;
  }

  /* line 15, ../sass/_mobile.scss */
  #container {
    width: 100%;
  }

  /* line 17, ../sass/_mobile.scss */
  #about, #elsewhere {
    float: none;
    width: 100%;
  }

  /* line 22, ../sass/_mobile.scss */
  #elsewhere {
    margin-top: 1.5em;
    clear: both;
  }
  /* line 26, ../sass/_mobile.scss */
  #elsewhere h2, #elsewhere ul li {
    display: inline;
  }
  /* line 30, ../sass/_mobile.scss */
  #elsewhere h2 {
    display: none;
  }
  /* line 32, ../sass/_mobile.scss */
  #elsewhere ul {
    text-align: center;
  }
  /* line 34, ../sass/_mobile.scss */
  #elsewhere li a {
    font-size: 0;
  }
  /* line 36, ../sass/_mobile.scss */
  #elsewhere li a:before {
    font-size: 2rem;
    height: 2rem;
    width: 3.2rem;
    padding: 0 0.2em;
    border: 1px solid #84c2ff;
    border-radius: 500px;
  }

  /* line 48, ../sass/_mobile.scss */
  #photo {
    margin-left: 1em;
    padding: 1px;
    width: 33%;
    height: 33%;
    float: right;
    content: url("http://www.gravatar.com/avatar/69b73085f8b2247cae956d2b6dbada2c?s=200");
    border-radius: 100px;
    border-color: #FFF;
  }
}
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
