/* Main styles for ali.io */
@import "compass/reset";
@import "common";
@import 'ligature_symbols';

body {
  background: $bg-color;
  color: $text-color;
  font: 150%/1.5 proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header h1 {
  color: #FFF;
  font-size: 2em;
  margin: 0.5em 0;
  text-transform: lowercase;
}

img, p {
  margin-bottom: 1em;
}

a {
  color: $link-color;
  text-decoration: none;

  -webkit-transition:color 0.2s ease-in;
  -moz-transition:color 0.2s ease-in;
  -o-transition:color 0.2s ease-in;
  transition:color 0.2s ease-in;

  &:hover {
    color: $link-hover-color;
  }
}

#photo {
  width: 100%;
  border: 1px solid lighten($bg-color, 10%);
  padding: 2px;
}

header, footer {
  text-align: center;
}

#container {
  width: 600px;
  margin: 0 auto;
}

#about {
  width: 65%;
  float: left;
}

#elsewhere {
  float: right;

  li a { @include lsf-icon; }
}

footer { display: none; }

@import "mobile";
