/* Main styles for ali.io */
@import "compass/reset";
@import "bourbon/bourbon";
@import "grid_settings";
@import "neat/neat";
@import "side_table_drawer";
@import 'ligature_symbols';

body {
  background: $bg-color url('../img/photo.png') center center no-repeat fixed;
  @include background-size(cover);
  color: $text-color;
  font: 125%/1.25 proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px em(8) #000; // rgba(0, 0, 0, 0.8);
}

::selection {
  background: $blue;
  color: #fff;
  text-shadow: none;
}

#container {
  @include outer-container;
  margin: 2em;
}

header {
  @include span-columns(2);
  hgroup {
    text-align: center;
    margin-bottom: 1em;

    h1 {
      color: #FFF;
      font-size: 2em;
      text-transform: lowercase;
    }
  }
}

#content {
  @include span-columns(10);
  @include omega;
}

section {
  @include row;
  border-radius: em(4);

  font-size: 2em;
  font-weight: bold;
}

p:not(:last-child), ul {
  margin-bottom: 1em;
}

nav ul li a { @include lsf-icon; }

footer {
  @include row;
  color: transparent;
  text-align: center;
  text-shadow: none;
}

a {
  @include transition(all 0.2s ease-in);
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  }
}

@import "mobile";
