!= partial("_shared/head")

body
  .container
    hgroup
      h1 404
      h2 Somehing went wrong.

    p Want to let me know? 
      a(href="https://github.com/ali/ali.io/issues/new") File an issue.

!= partial("_shared/tail")
