!= partial("_shared/head")

body
  .container

    #sidebar.four.columns.alpha
      div
        header
          h1: a(href="/") AUK

        nav
          ul
            li: a(href="/work.html") Work
            li: a(href="/community.html") Community
            li: a(href="//twitter.com/aliukani", target="_blank") Twitter
            li: a(href="//github.com/ali", target="_blank") Github
            li: a(href="//linkedin.com/in/aliukani", target="_blank") LinkedIn

      <span>&nbsp;</span>

    .eleven.columns.offset-by-one.content.clearfix
      != yield

!= partial("_shared/tail")
