#community
  h1 Community

  h2 NUACM

  p.
    I'm the president of the Northeastern University
    Association for Computing Machinery. I make sure we run
    awesome events, bring in workshops, and organize
    a giant hackathon for Boston's college students.

  h2 NU Hacks

  p.
    I'm an organizer for our University's club for makers
    and hackers. My job is to make sure that people are
    working on cool projecs and learning.

  h2 Crew

  p.
    I'm an officer in my college's Undergraduate
    | Experimental Systems Group (called "Crew").
    | This means sometimes I'm a dev and sometimes I'm a PM.
    | I'm currently working on buildling scripts on top of
    | Github Enterprise to make course management and homework
    | submission stupid easy.

