#cover
  img(src="images/glasshole.jpg", title="And then I became a Glasshole... (photo by my BFF Alice Young)")

#mission
  p.
    I'm a Computer Science major at NEU, and a Software Engineering
    Intern at Google.

  p.
    I like creative problem solving, going to shows, rock climbing,
    and running cool events.
