#cover
  img(src="images/glasshole.jpg", title="And then I became a Glasshole... (photo by my BFF Alice Young)")

#mission
  p.
    I'm a (graduating) Senior Computer Science major at NEU, with previous
    software engineering gigs at Google, HubSpot, and Goldman Sachs.
    I like creative problem solving, developing for the web, and rock
    climbing.
