img#cover(src="images/glasshole.jpg", title="And then I became a Glasshole... (photo by my BFF Alice Young)")

#mission
  p
    | I'm a Computer Science major at NEU and a Software
    | Engineering Co-op at <span class="hubspot">HubSpot</span>.

  p
    | I like writing code, rock climbing, and organizing events.

