img#cover(src="images/glasshole.jpg", title="And then I became a Glasshole...")

#mission
  p
    | I'm a Computer Science major at NEU and a Software
    | Engineering Co-op at <span class="hubspot">HubSpot</span>.

  p
    | I like writing code, rock climbing, and organizing events.

#works
  h1 Works

  p
    | I'm currently a Software Engineering Co-op at HubSpot.
    | I work on our product's integration with other products
    | (namely Salesforce), and | make our sites faster.

  p
    | In Fall 2012 I co-op'd at Goldman Sachs, where I worked on
    | writing international loan reconcilation software.

  p
    | Before that, I was a tutor for CS2800 Logic and
    | Computation. I graded homework and wrote software to
    | generate a leaderboard of students.

#community
  h1 Community

  h2 NUACM

  p
    | I'm the president of the Northeastern University
    | Association for Computing Machinery. I make sure we run
    | awesome events, bring in workshops, and organize
    | a giant hackathon for Boston's college students.

  h2 NU Hacks

  p
    | I'm an organizer for our University's club for makers
    | and hackers. My job is to make sure that people are
    | working on cool projecs and learning.

  h2 Crew

  p
    | I'm an officer in my college's Undergraduate
    | Experimental Systems Group (called "Crew").
    | This means sometimes I'm a dev and sometimes I'm a PM.
    | I'm currently working on buildling scripts on top of
    | Github Enterprise to make course management and homework
    | submission stupid easy.

