#work
  h1 Work

  p.
    I'm currently a Software Engineering Co-op at <span
    class="hubspot">HubSpot</span>. I work on our product's
    integration with other products (namely Salesforce), improve our
    APIs (written in Java), make information from HubSpot visible
    inside of Salesforce using Cofeescript and Node, and turn our
    Django apps into Coffeescript/Backbone apps.

  p.
    In Fall 2012 I was an Application Developer Analyst Co-op at
    Goldman Sachs, where I worked on writing international loan
    reconcilation software in Java. I also worked on some Perl
    scripts.

  p.
    Before that, I was a tutor for CS2800 Logic and
    Computation. I graded homework and wrote software to
    generate a leaderboard of students.
