#works
  h1 Work

  p
    | I'm currently a Software Engineering Co-op at HubSpot.
    | I work on our product's integration with other products
    | (namely Salesforce), and | make our sites faster.

  p
    | In Fall 2012 I co-op'd at Goldman Sachs, where I worked on
    | writing international loan reconcilation software.

  p
    | Before that, I was a tutor for CS2800 Logic and
    | Computation. I graded homework and wrote software to
    | generate a leaderboard of students.

