#work
  h1 Work

  p.
    I'm currently a Software Engineering Co-op at <span
    class="hubspot">HubSpot</span>. I work on our integration with
    other products (like Salesforce), improve our APIs (written in
    Java), make information from HubSpot visible inside of Salesforce
    using Cofeescript and Node, and turn our Django apps into
    Coffeescript/Backbone apps.

  p.
    In Fall 2012 I was an Application Developer Analyst Co-op at
    Goldman Sachs, where I wrote custom international loan
    reconcilation software in Java. I also worked on some Perl
    scripts.

  p.
    Before that, I was a grader for CS2800 Logic and Computation. In
    addition to grading homework and exams, I wrote software to
    generate a leaderboard of students so students could compete
    against each other, and measure their progress.
