#work
  h1 Work
  
  p.
    I was previously (Fall/Winter 2014) a Software Engineering Intern
    at Google's office in Cambridge. I mainly worked on an analytics
    pipeline for the <a href="https://www.google.com/edu">Android for
    Education</a> platform.

  p.
    From June to December 2013 I was a Software Engineering Co-op at
    <span class="hubspot">HubSpot</span>. I work on our integration with
    other products (like Salesforce), improve our APIs (written in
    Java), make information from HubSpot visible inside of Salesforce
    using Cofeescript and Node, and turn our Django apps into
    Coffeescript/Backbone apps.

  p.
    In Fall 2012 I was an Application Developer Analyst Co-op at
    Goldman Sachs, where I wrote custom international loan
    reconciliation software in Java. I also worked on some Perl
    scripts.

  p.
    Before that, I was a grader for CS2800 Logic and Computation. In
    addition to grading homework and exams, I wrote software to
    generate a leaderboard of students so students could compete
    against each other, and measure their progress.
