
/* 960.dopeness */ #header, #desc, #pages, #footer{margin: 0 10px 0 10px;}

body{
	font-family: "myriad-pro-1","myriad-pro-2", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	background: #FFF url("../img/bg-noise-lite.png");
	color: #222;
	color: rgba(0,0,0,0.9);
}

a, a:visited{
	color: #FF4500;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
	  
a:hover, a:focus{
	text-decoration: underline;
}

abbr {
	cursor: help;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
}

#header{
	clear: both;
}
	#header h1{
		font-size: 3em;
		line-height: 2em;
	}

#pages{
	float: left;
	clear: left;
	font-size: 1.1em;
	width: 140px; /* 2 col */
}
#pages li{font-weight: bold;}
#pages li:last-child{}

#desc{
	float: right;
	clear: right;
	width: 220px; /* 3 col */
}

#posts{
	width: 540px; /* 7 col */
	float: left;
}

/* Indent header + footer */
#header, #footer{
  margin: 0 240px 0 160px;
}

/* Paging (prev, next) */
nav#paging{
	clear: both;
	font:1.2em "Pictos";
	text-align: center;
}
nav#paging a{margin: 0 1em;}
nav#paging a:hover{text-decoration: none;}
nav#paging a span{display: none;}
nav#paging a.prev:before{content:"[";}
nav#paging a.next:before{content:"]";}


#footer{
	margin-top: 1em;
}



/*- ARTICLES
----------------------------------------------------------------------*/
article{
	width: 500px;
	padding: 0.75em 1em 0.5em 1em;
	margin-bottom: 2em;
	background: #FFF;
	border: 1px solid #d0d0d0;
	clear: both;
	line-height: 1.5em;
}


article h1, article h2, article h3,
article h4, article h5{
	font-family:"adelle-1","adelle-2",serif;
	font-weight: normal;
}

article header{ /* Article h1 */
	font-size: 1.25em;
	margin-bottom: 0.75em;
	font-weight: normal;
}
article h2{
  font-size: 1.1em;
  margin-bottom: 0.4em;
  color: #444;
}

article img{max-width: 500px;}

article p{
	margin-bottom: 1em;
}

article pre{ /* Code blocks */
  border: 1px solid #eee;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

article:not(.quote):not(.answer) blockquote{
  border-left: 0.4em solid #eee;
  padding: 0 0 0 0.6em;
}

.gist{font-size: 0.8em;} /* Github embeds */

article figcaption{margin-top: 1em;}

article ul{
	margin: 0 0 1em 1em;
	list-style-type: square;
}


/* Metadata */
.post-meta{
	margin-top: 1em;
	text-align: right;
	font-size: 0.85em;
	clear: both;
	color: #000000;
	color: rgba(0,0,0,0.4);
}
	.post-meta ul{margin: 0;}
	.post-meta li{display: inline; margin-left: 1em;}
	.post-meta li:first-child{margin-left: 0;}
	
	.post-meta a, .post-meta a:visited{color: inherit;}
	.post-meta a:hover{text-decoration: none;}
	.post-meta:hover li:hover{color: rgba(0,0,0,0.55);}

	li.reblogged-from a, li.note-count a:before{
		font-family: "Pictos";
		font-size: 1.15em;
	}
	li.content-source{float: left;}
	li.reblogged-from a:before{content:"r";}
	li.reblogged-from a span{display: none;}
	li.note-count a:before{content:"k";}

/* Text */
article.text{}

/* Photo */
article.photo{}

/* Photoset */
article.photoset{}

/* Quote */
article.quote{}

.quote blockquote{
  padding: 0em 0 0 2em;
  margin-bottom: 0.5em;
}

.quote blockquote:before{
  font-size: 4em;
  display: block;
  float: left;
  margin: 0.15em 0 0 -0.6em;
  color: #d0d0d0;
  color: rgba(0, 0, 0, 0.2);
  content:"\201C \0020";
}

.quote .q-short{}
.quote .q-long{}

.quote-source{float: right; margin-bottom: 0.5em;}

/* Link */
article.link header:before{
	font-family: "Pictos";
	font-size: 1.1em;
	color: #d0d0d0;
	color: rgba(0, 0, 0, 0.2);
	content: "A ";
}
	
/* Chat */
article.chat{}
.chat .lines{list-style-type:none;}
.chat .lines li{line-height: 1.5em;}
.chat .label{font-weight: bold;}

/* Audio */
article.audio{}

.audio figure{}

.audio embed{
	border: 1px solid #d0d0d0;
}

.audio figure>img{
	float: left;
	width: 25%;
	margin: 0 5% 0 0;
}

.audio figcaption{
	display: block;
	width: 70%;
	float: right;
	text-align: left;
}

/* Video */
article.video{}

/* Answer */

article.answer{}

.the-asker a{}
.the-question{
  margin: 0.5em 0 0.5em 0;
  padding: 1em;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.the-answer{}

/* Shading */

article.chat .even, article.answer .the-question{
	background-color: #f9f9f9;
	background-color: rgba(0, 0, 0, 0.05);
}


/* Post Notes */
aside#post-notes{margin-bottom:1.5em;}
#post-notes header{
  font-size: 1.2em;
  margin-bottom: 0.3em;
  color: #444;
  text-transform: capitalize;
}
#post-notes h1{font-weight: normal;}
ol.notes{
  margin-left: 1.4em;
}
li.note{}
li.note img{display: none;}

/*- VANITY
----------------------------------------------------------------------*/

/* My hoodie done glow */
#header>a, #pages a{
	color: #444;
	color: rgba(0,0,0,0.75);
}
#header>a:hover, #pages a:hover{
	color:#222;
	color: rgba(0,0,0,0.95);
}


/*::selection {background: #c80000;}
::-moz-selection {background: #c80000;}*/

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {
	html {-webkit-text-size-adjust: none;}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}
}

/* Scrollbar : http://css-tricks.com/custom-scrollbars-in-webkit/ */
/* Target webkit browsers only */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	html {
	   overflow: auto;
	}
	body {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
	}
	::-webkit-scrollbar {
	    width: 7px;
	    margin-top: 12px;
	}
	
	
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
	    display: block;
	    height: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	    background-color: rgba(0,0,0,0.1);
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	    background: rgba(0,0,0,0.1); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(0,0,0,0.1); 
	}
}
/* Disable on iDevices */
@media only screen and (max-device-width:1024px) {
	body {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		overflow: auto;
	}
}
