include ./_shared/head.jade

body
  .container
    hgroup
      h1 404
      h2 Something went wrong :(

    p Want to let me know? 
      a(href="https://github.com/ali/ali.io/issues/new") File an issue.


include ./_shared/tail.jade
