include ./_shared/head.jade

body
  .container

    #sidebar.four.columns.alpha
      div
        header
          h1: a(href="index.html") AUK

        nav
          ul
            li: a(href="index.html") About me
            li: a(href="work.html") Work
            li: a(href="community.html") Community
            li: a(href="https://twitter.com/aliukani", target="_blank") Twitter
            li: a(href="https://github.com/ali", target="_blank") Github
            li: a(href="https://linkedin.com/in/aliukani", target="_blank") LinkedIn

      <span>&nbsp;</span>

    .eleven.columns.offset-by-one.content.clearfix
        block content

include ./_shared/tail.jade
