extends ./layout.jade

block header
  img#photo(
    src="/images/me.jpg",
    alt="A photo of Ali Ukani, looking off to the side. Taken by Alice Young."
  )
  h1 Ali Ukani


block content

  p
    | I'm a Software Engineer at <a class="drift" href="https://drift.com">
    | Drift</a>. Before that, I studied Computer Science at Northeastern
    | University, and worked as a software engineering co-op at Google and
    | HubSpot.
    
  p
    | If you'd like to get in contact, you can <a target="_blank"
    | title="I prefer quick tweets to long emails"
    | href="https://twitter.com/aliukani">find me on Twitter</a> or <a
    | target="_blank" title="Okay, fine."
    | href="mailto:ali.ukani@gmail.com?subject=Hi!">send me an email</a>. My PGP
    | key fingerprint is <a href="/aliukani.asc" title="My PGP key">2842 EEFF 
    | 9431 CB31 BF08 CB11 FC00 566B E2D3 FD7E</a>.
