$fonts: "proxima-nova-1","proxima-nova-2", 'Helvetica', sans-serif;

$photo-max-dimensions: 150px;
$photo-dimensions: 33%;

$brand-color: #5384CD;
$link-color: #6BC1FF;
$link-color-hover: darken($link-color, 30%);
$drift-blue: #0176FF;

body {
  background: #191D1F;
  color: #FFF;
  font: 1.2rem/2rem $fonts;
}

.container {
  max-width: 400px;
  margin: 2rem;
}

header, footer {
  text-align: center;
}

#photo {
  width: $photo-dimensions;
  max-width: $photo-max-dimensions;
  height: $photo-dimensions;
  border: 5px solid #FFF;
  border-radius: 500px;
  box-shadow: 0 0px 8px $brand-color;
}

footer {
  margin: 2rem 0;
}

h2 {
  margin: 2rem 0 1rem;
}

ul {
  padding: 0 0 0 1rem;
}

a, a:visited {
  color: $link-color;
  transition: color 0.5s ease;

  &:hover {
    color: $link-color-hover;
  }
}

a.drift {
  color: $drift-blue;
  font-weight: bold;
}
